*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  @import url(https://fonts.googleapis.com/css?family=Montserrat);
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

html,
body,
.app,
.main {
  height: 100%;
}

.component {
  &__title {
    text-align: center;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }
}

.navigation {
  list-style: none;
  a {
    text-decoration: none;
  }
  &--demo {
    display: none;
  }
}

